*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color:rgb(221, 221, 221);
    font-family: 'Lato', sans-serif;
}   


h1 {
    font-size: 104px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;

}

h2 {
    font-size: 20px;
}

form {
    width: 500px;
    }
    
form input {
   width: 500px;
   background: white;
   margin-top: 10px;
}

 #comentarios {
     width: 500px;
     height: 100px; 
 }